{% extends "layout.html" %}

{% block title %}
    Messages
{% endblock %}

{% block body %}
        <div id="chat-container">
            <div id="chat-title">
                <span>Welcome Messaging</span>
                <img src="static/images/refresh.svg" onClick="window.location.reload();" alt="Refresh" />
            </div>
            <div id="chat-message-list">
                {% if messages %}
                    {% for message in messages %}
                        {% if message["user_id"] == user_id %}
                            <div id="chat-messsage-list">
                                <div class="message-row you-message">
                                    <div class="message-text">{{ message["message"] }}</div>
                                    <div class="message-time">{{ message["ts"] }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if message["user_id"] != user_id %}
                            <div id="chat-messsage-list">
                                <div class="message-row other-message">
                                    <div class="message-sender">{{ message["username"] }}</div>
                                    <div class="message-text">{{ message["message"] }}</div>
                                    <div class="message-time">{{ message["ts"] }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="chat-form">
                <form action="/chat" method="post">
                    <div class="form-group">
                        <input type="text" name="message">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}