{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/register" method="post">
        <div class="form-group">
            <input class="form-control" name="username" type="text" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password" placeholder="Password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}